:root {
  --primary-text-color: #434455;
  --item-text-color: #2e2f42;
  --accent-color: #404bbf;
  --primary-background-color: #ffffff;
  --button-color: #4d5ae5;
  --button-background-color: #f4f4fd;
  --button-border-color: #e7e9fc;

  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.button {
  cursor: pointer;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* Header style */
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.main-menu {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--button-border-color);
}

.logo {
  display: flex;
  align-items: center;
  color: var(--item-text-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;

  text-decoration: none;
}

.logo-accent {
  color: var(--button-color);
}

/* Site nav */
.page-header-container {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.site-nav.list {
  display: flex;
  margin-left: 76px;
}
.site-nav .item + .item {
  margin-left: 40px;
}

.site-nav.link {
  color: var(--item-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition: color var(--transition-dur-and-func);
}
.site-nav.link.current {
  position: relative;
  padding-bottom: 24px;
}
.site-nav.link.current::after {
  position: absolute;
  top: 100%;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin: 0 auto;
}

.site-nav.link:hover,
.site-nav.link:focus {
  color: var(--accent-color);
}

/*Mailto tel link*/
.second-nav {
  display: flex;
  align-items: center;
}
.contacts.list {
  display: flex;
  align-items: center;
}
.contacts.list .item + .item {
  margin-left: 40px;
}

.mailto.link {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5px;

  transition: color var(--transition-dur-and-func);
}
.mailto.link:hover,
.mailto.link:focus {
  color: var(--accent-color);
}
.tel {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5px;
  text-decoration: none;

  transition: color var(--transition-dur-and-func);
}
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
/* Hero section */
.hero-section {
  display: flex;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;

  flex-grow: 1;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people_office_1.jpg);

  background-position: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.hero-title {
  width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;

  color: var(--primary-background-color);
}
/* Button */
.button {
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--button-border-color);
}

.button.primary {
  text-align: center;
  color: var(--primary-background-color);
  background-color: var(--button-color);
  padding: 16px 32px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-dur-and-func);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  padding: 12px 24px;

  transition: color, background-color, box-shadow,
    var(--transition-dur-and-func);
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  color: var(--item-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.feature-section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.feature.list {
  display: flex;
  column-gap: 24px;
}
.feature-card {
  flex-basis: calc((100% - 72px) / 4);
}
.icon-item {
  background: var(--button-background-color);
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 8px;
}
.feature-icon {
  width: 64px;
  height: 64px;
}
.feature-item,
.projects-item {
  color: var(--item-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.feature-description,
.projects-direction {
  font-size: 16px;
  line-height: 1.5;
}
.we-doing {
  padding-bottom: 120px;
}
.img.list {
  display: flex;
  column-gap: 24px;
}
.our-team-section {
  background-color: var(--button-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}
.business-cards.list {
  display: flex;
  column-gap: 24px;
}
.cards-list {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.cards-subscription {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-right: auto;
  padding-left: auto;
}
.cards-item {
  color: var(--item-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}
.cards-paragraf {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
.team-social.list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-social-item {
  width: 40px;
  height: 40px;
}
.team-social.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin-top: 8px;
  background: var(--button-color);

  transition: background-color var(--transition-dur-and-func);
}

.team-social.link:is(:hover, :focus) {
  background-color: var(--accent-color);
}
.media-social-icon {
  color: var(--button-background-color);
}
/*Portfolio items*/
.buttons-nav {
  display: flex;
  justify-content: center;
  padding-top: 96px;
  padding-bottom: 72px;
}
.buttons.list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.buttons.list.item {
  display: flex;
  align-items: center;
}

.buttons.list .item + .item {
  margin-left: 24px;
}
/* Completed-projects*/

.completed-projects {
  padding-bottom: 120px;
}
.projects-examples.list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.examples-item {
  flex-basis: calc((100% - 48px) / 3);

  transition: box-shadow var(--transition-dur-and-func);
}
.examples-item:hover,
.examples-item :focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-card {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15px;

  border: 1px solid var(--button-border-color);
  border-top: 1px solid transparent;
}
.project-list-wrapper-img {
  position: relative;
  overflow: hidden;
}
.project-list-wrapper.link:hover .owerlay,
.project-list-wrapper.link:focus .owerlay {
  transform: translateY(0);
}

.owerlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  color: var(--button-background-color);
  background-color: var(--button-color);
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  transform: translateY(100%);
  transition: transform var(--transition-dur-and-func);
}

/* Customers */

.customers-contact {
  padding: 130px auto 120px auto;
}
.customers.container {
  display: block;
}

.customers-description {
  display: block;
  width: 1128px;
  height: 200px;
  margin-top: 130px;
  margin-bottom: 120px;
}

.customers.list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}
.customers.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: #8e8f99;
  border: 1px solid #8e8f99;

  transition: color, border, var(--transition-dur-and-func);
}

.customers.link:is(:hover, :focus) {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.customers-icon {
  fill: currentColor;
}

/* Footer */
.footer {
  background-color: var(--item-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer.container {
  display: flex;
}
.footer-description {
  display: block;
  width: 264px;
}
.logo-footer {
  display: flex;
  color: var(--button-background-color);
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.03em;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  text-decoration: none;
}
.footer-text {
  margin-top: 16px;
  color: var(--button-border-color);
  font-size: 16px;
  line-height: 1.5;
}
.footer-social {
  display: block;
  width: 208px;
  height: 80px;
  margin-left: 120px;
  margin-right: 80px;
}
.footer-header {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
  margin-bottom: 16px;
}
.social-media.list {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.media-social.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  color: var(--button-background-color);

  transition: background-color var(--transition-dur-and-func);
}

.media-social.link:is(:hover, :focus) {
  background-color: #31d0aa;
}
.media-social-icon {
  fill: currentColor;
}
/*Subscribe*/

.subscribe {
  width: 453px;
  height: 80px;
}
.subscribe-form {
  display: flex;
}

.footer-form-input {
  width: 264px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: var(--primary-background-color);
}
.subscribe-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  margin-left: 24px;
  color: var(--primary-background-color);
  background-color: var(--button-color);
  border: none;
}

/*Modal window*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-dur-and-func);
  transition: visibility var(--transition-dur-and-func);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background: var(--button-border-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 8px;
  color: #000;
  cursor: pointer;
  transition: background-color var(--transition-dur-and-func);
}

.modal-close-button:is(:hover, :focus) {
  background-color: var(--button-color);
  color: var(--primary-background-color);
}

.modal-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
  transition: fill var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.call-back-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.call-back-text.second {
  letter-spacing: 0.01em;
}

.call-back-form-icon {
  width: 18px;
  height: 24px;
  position: absolute;
  left: 16px;
  top: 26px;
  transition: fill var(--transition-dur-and-func);
}
.call-back-form-icon.person {
  height: 18px;
  transition: fill var(--transition-dur-and-func);
}

.contacts-call-back {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--item-text-color);
  margin-bottom: 16px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
.form-input {
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  height: 40px;
  padding-left: 34px;
  color: #000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color var(--transition-dur-and-func);
}
.form-input.comment {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);

  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
}
.form-field.comment {
  margin-bottom: 16px;
}
.form-input:focus {
  border-color: var(--button-color);
}
.form-input:focus + .call-back-form-icon {
  fill: var(--button-color);
}

.checkbox {
  margin-bottom: 24px;
}
.form-label-checkbox {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
}
.checkbox-form {
  display: flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin-right: 8px;

  border: 1.25px solid var(--item-text-color);
  border-radius: 2px;
  transition: background-color var(--transition-dur-and-func);
}
.checkbox-icon {
  fill: var(--button-background-color);
}
.checkbox-input:checked + .form-label-checkbox span {
  background-color: var(--accent-color);
  border: 1.25px solid var(--accent-color);
  border-radius: 2px;
}
.privacy {
  line-height: 1.33;
  text-decoration-line: underline;
  color: var(--button-color);
}
.button.send {
  display: block;
  width: 169px;
  margin-left: auto;
  margin-right: auto;
}
